USE [master]
GO
/****** Object:  Database [CultuurHuisMVC]    Script Date: 10/12/2012 13:04:31 ******/
CREATE DATABASE [CultuurHuisMVC]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CultuurHuisMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CultuurHuisMVC]
GO
/****** Object:  Table [dbo].[Klanten]    Script Date: 10/12/2012 13:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klanten](
	[KlantNr] [int] IDENTITY(1,1) NOT NULL,
	[Voornaam] [nvarchar](50) NOT NULL,
	[Familienaam] [nvarchar](50) NOT NULL,
	[Straat] [nvarchar](50) NOT NULL,
	[HuisNr] [nvarchar](50) NOT NULL,
	[Postcode] [nvarchar](50) NOT NULL,
	[Gemeente] [nvarchar](50) NOT NULL,
	[GebruikersNaam] [nvarchar](50) NOT NULL,
	[Paswoord] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Klanten] PRIMARY KEY CLUSTERED 
(
	[KlantNr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Klanten] ON
INSERT [dbo].[Klanten] ([KlantNr], [Voornaam], [Familienaam], [Straat], [HuisNr], [Postcode], [Gemeente], [GebruikersNaam], [Paswoord]) VALUES (1, N'Hans', N'Desmet', N'Keizerslaan', N'7', N'1000', N'Brussel', N'hans', N'bolle')
INSERT [dbo].[Klanten] ([KlantNr], [Voornaam], [Familienaam], [Straat], [HuisNr], [Postcode], [Gemeente], [GebruikersNaam], [Paswoord]) VALUES (2, N'Alexandra', N'Blondeel', N'Anspachlaan', N'65', N'1000', N'Brussel', N'alexandra', N'belle')
SET IDENTITY_INSERT [dbo].[Klanten] OFF
/****** Object:  Table [dbo].[Genres]    Script Date: 10/12/2012 13:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreNr] [int] NOT NULL,
	[Genre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[GenreNr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Genres] ([GenreNr], [Genre]) VALUES (1, N'Humor')
INSERT [dbo].[Genres] ([GenreNr], [Genre]) VALUES (2, N'Theater')
INSERT [dbo].[Genres] ([GenreNr], [Genre]) VALUES (3, N'Muziek')
/****** Object:  Table [dbo].[Voorstellingen]    Script Date: 10/12/2012 13:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voorstellingen](
	[VoorstellingsNr] [int] NOT NULL,
	[Titel] [nvarchar](50) NOT NULL,
	[Uitvoerders] [nvarchar](50) NOT NULL,
	[Datum] [datetime] NOT NULL,
	[GenreNr] [int] NOT NULL,
	[Prijs] [money] NOT NULL,
	[VrijePlaatsen] [smallint] NOT NULL,
 CONSTRAINT [PK_Voorstellingen] PRIMARY KEY CLUSTERED 
(
	[VoorstellingsNr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Voorstellingen] ([VoorstellingsNr], [Titel], [Uitvoerders], [Datum], [GenreNr], [Prijs], [VrijePlaatsen]) VALUES (1, N'Rechtstreeks & integraal/Ka-Boom!', N'Neveneffecten / Alex Agnew', CAST(0x0000A0E201499700 AS DateTime), 1, 5.0000, 0)
INSERT [dbo].[Voorstellingen] ([VoorstellingsNr], [Titel], [Uitvoerders], [Datum], [GenreNr], [Prijs], [VrijePlaatsen]) VALUES (2, N'De leeuw van Vlaanderen', N'Union Suspecte / Publiekstheater', CAST(0x0000A0E301499700 AS DateTime), 2, 7.0000, 141)
INSERT [dbo].[Voorstellingen] ([VoorstellingsNr], [Titel], [Uitvoerders], [Datum], [GenreNr], [Prijs], [VrijePlaatsen]) VALUES (3, N'Ano Neko', N'Dobet Gnahoré', CAST(0x0000A0E401499700 AS DateTime), 4, 6.0000, 200)
/****** Object:  Table [dbo].[Reservaties]    Script Date: 10/12/2012 13:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservaties](
	[ReservatieNr] [int] IDENTITY(1,1) NOT NULL,
	[KlantNr] [int] NOT NULL,
	[VoorstellingsNr] [int] NOT NULL,
	[Plaatsen] [smallint] NOT NULL,
 CONSTRAINT [PK_Reservaties] PRIMARY KEY CLUSTERED 
(
	[ReservatieNr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  ForeignKey [FK_Voorstellingen_Genres]    Script Date: 10/12/2012 13:04:32 ******/
ALTER TABLE [dbo].[Voorstellingen]  WITH CHECK ADD  CONSTRAINT [FK_Voorstellingen_Genres] FOREIGN KEY([GenreNr])
REFERENCES [dbo].[Genres] ([GenreNr])
GO
ALTER TABLE [dbo].[Voorstellingen] CHECK CONSTRAINT [FK_Voorstellingen_Genres]
GO
/****** Object:  ForeignKey [FK_Reservaties_Klanten]    Script Date: 10/12/2012 13:04:32 ******/
ALTER TABLE [dbo].[Reservaties]  WITH CHECK ADD  CONSTRAINT [FK_Reservaties_Klanten] FOREIGN KEY([KlantNr])
REFERENCES [dbo].[Klanten] ([KlantNr])
GO
ALTER TABLE [dbo].[Reservaties] CHECK CONSTRAINT [FK_Reservaties_Klanten]
GO
/****** Object:  ForeignKey [FK_Reservaties_Voorstellingen]    Script Date: 10/12/2012 13:04:32 ******/
ALTER TABLE [dbo].[Reservaties]  WITH CHECK ADD  CONSTRAINT [FK_Reservaties_Voorstellingen] FOREIGN KEY([VoorstellingsNr])
REFERENCES [dbo].[Voorstellingen] ([VoorstellingsNr])
GO
ALTER TABLE [dbo].[Reservaties] CHECK CONSTRAINT [FK_Reservaties_Voorstellingen]
GO
